.title {
    color:#FC35D1;
    font-size: 48px;
}
.lead {
    color:#5C0F0D;
    font-style: italic;
    font-family: 'Roboto', sans-serif;
}
div{
    position: relative;
    top: 100px;
    left: 150px;
    width: 1200px;
    padding-left: 20PX #FC35D1;
    border-top: 20PX #FC35D1;
}
